@import "../../../app/globals.css";

.rbc-header {
  @apply font-normal;
  @apply pb-4;
  @apply text-muted-foreground;
  @apply text-sm;
  @apply border-b-0;
}

.rbc-header + .rbc-header {
  @apply border-l-0;
}

.rbc-button-link {
  @apply text-xs;
  @apply font-normal;
  @apply text-muted-foreground;
}

.rbc-month-row {
  @apply min-h-[180px];
  @apply border-t;
  @apply border-x;
}

:not(.rbc-month-row ~ .rbc-month-row).rbc-month-row {
  @apply rounded-t-md;
}
.rbc-month-row:last-of-type {
  @apply border-b;
  @apply rounded-b-md;
}

.rbc-month-view {
  @apply border-none;
}

.rbc-date-cell {
  @apply p-2;
}

.rbc-today {
  background: inherit;
}
.rbc-off-range-bg {
  background: inherit;
}

.rbc-time-content > * {
  flex: 0 0 120px;
  max-width: 120px;
  min-width: 120px;
}

/* Mobile: auto shrink and scroll */
@media (max-width: 768px) {
  .rbc-time-content {
    overflow-x: auto;
  }

  .rbc-time-content > * {
    flex: 0 0 auto;
    min-width: 250px; /* or 100% if you want one per row */
  }
}
